extends layout
block content
  h1= title
  - let watchid = toShow._id
  - let watchName = toShow.Name
  - let watchPrice = toShow.Price
  - let watchModel = toShow.Model
  div
    div.row
      div(class='watchAttr mr-3') watch ID is:
      div #{watchid}
    div.row
      div(class='watchAttr mr-3') watch Type is:
      div #{watchName}
    div.row
      div(class='watchAttr mr-3') watch Model is:
      div #{watchModel}
    div.row
      div(class='watchAttr mr-3') watch Price is:
      div #{watchPrice}